<div class="page">

  <div mat-card-avatar class="page-avatar"></div>

  <div class="linkle-link link-insta">
    <i class="ll-icon icon-insta"></i>
  </div>

  <div class="linkle-link link-spotify">
    <i class="ll-icon icon-spotify"></i>
  </div>

  <div class="linkle-link link-facebook">
    <i class="ll-icon icon-facebook"></i>
  </div>

  <div class="linkle-link link-twitter">
    <i class="ll-icon icon-twitter"></i>
  </div>

  <div class="linkle-link link-snapchat">
    <i class="ll-icon icon-snapchat"></i>
  </div>

  <div class="linkle-link link-vk">
    <i class="ll-icon icon-vk"></i>
  </div>

  <div class="linkle-link link-in">
    <i class="ll-icon icon-in"></i>
  </div>

  <div class="linkle-link link-youtube">
    <i class="ll-icon icon-youtube"></i>
  </div>

  <div class="linkle-link link-pinterest">
    <i class="ll-icon icon-pinterest"></i>
  </div>

  <div class="linkle-link link-tumblr">
    <i class="ll-icon icon-tumblr"></i>
  </div>

  <div class="linkle-link link-reddit">
    <i class="ll-icon icon-reddit"></i>
  </div>

  <div class="linkle-link link-whatsapp">
    <i class="ll-icon icon-whatsapp"></i>
  </div>

  <div class="linkle-link link-telegram">
    <i class="ll-icon icon-telegram"></i>
  </div>

  <div class="linkle-link link-apple-store">
    <i class="ll-icon icon-apple-store"></i>
  </div>

  <div class="linkle-link link-google-play">
    <i class="ll-icon icon-google-play"></i>
  </div>
</div>
