.linkle-link{
  display: block;
  max-width: 250px;
  height: 85px;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.ll-icon{
  width: 65px;
  display: inline-block;
  height: 65px;
  text-decoration: none;
  position: relative;
  top: 10px;
}

.link-insta{
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.icon-insta{
  background: url('../../assets/icons/instagram.svg');
  background-size: cover;
}

.link-spotify{
  background: #000;
}

.icon-spotify{
  background: url('../../assets/icons/spotify.svg');
  background-size: cover;
}

.link-facebook{
  background: #475993;
}

.icon-facebook{
  background: url('../../assets/icons/facebook.svg');
  background-size: cover;
}

.link-twitter{
  background: #00a3f5;
}

.icon-twitter{
  background: url('../../assets/icons/twitter.svg');
  background-size: cover;
}

.link-snapchat{
  background: #fffe00;
}

.icon-snapchat{
  background: url('../../assets/icons/snapchat.svg');
  background-size: cover;
}

.link-vk{
  background: #3282bb;
}

.icon-vk{
  background: url('../../assets/icons/vk.svg');
  background-size: cover;
}

.link-in{
  background: #0077b8;
}

.icon-in{
  background: url('../../assets/icons/in.svg');
  background-size: cover;
}

.link-youtube{
  background: #F61C0D;
}

.icon-youtube{
  background: url('../../assets/icons/youtube.svg');
  background-size: cover;
}

.link-pinterest{
  background: #CB2027;
}

.icon-pinterest{
  background: url('../../assets/icons/pinterest.svg');
  background-size: cover;
}

.link-tumblr{
  background: #395976;
}

.icon-tumblr{
  background: url('../../assets/icons/tumblr.svg');
  background-size: cover;
}

.link-reddit{
  background: #ff4500;
}

.icon-reddit{
  background: url('../../assets/icons/reddit.svg');
  background-size: cover;
}

.link-whatsapp{
  background: #1BD741;
}

.icon-whatsapp{
  background: url('../../assets/icons/whatsapp.svg');
  background-size: cover;
}

.link-telegram{
  background: #29B6F6;
}

.icon-telegram{
  background: url('../../assets/icons/telegram.svg');
  background-size: cover;
}

.link-apple-store{
  background: #000;
}

.icon-apple-store{
  background: url('../../assets/icons/apple.svg');
  background-size: cover;
}

.link-google-play{
  background: #000;
}

.icon-google-play{
  background: url('../../assets/icons/google-play.svg');
  background-size: cover;
}
